{% extends 'core/base.html' %}

{% block title %}

    Dashboard

{% endblock %}

{% block content %}

    <div class="py-6 px-6">

        <h1 class="mb-6 text-xl">Dashboard</h1>

        <div class="flex space-x-4">
            <div class="w-1/2 px-4 py-6 bg-gray-100 rounded-xl leads">
                <h2 class="text-lg">Newest leads</h2>
                {% for lead in leads %}
                    <div class="lead">
                        <h3 class="font-semibold">{{ lead.name }}</h3>
                    </div>
                {% endfor %}
            </div>

            <div class="w-1/2 px-4 py-6 bg-gray-100 rounded-xl clients">
                <h2 class="text-lg">Newest clients</h2>
                {% for client in clients %}
                    <div class="client">
                        <h3 class="font-semibold">{{ client.name }}</h3>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}